{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Home page</h1>
      <hr>
      <h3 class="list-heading text-center">At our website You Can:</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Check allow books</li>
        <li class="list-group-item">Add Your own book to our database</li>
        <li class="list-group-item">Import books from our database to CSV file</li>
        <li class="list-group-item">Next future is: give the user a choice xml / csv / txt / pdf</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}